@import "tailwindcss";

:root {
  --primary: hsl(172, 67%, 45%);
  --primary-darker: hsl(183, 100%, 15%);

  --gray-light: hsl(189, 47%, 97%);
  --gray-dimmed: hsl(185, 41%, 84%);
  --gray: hsl(184, 14%, 56%);
  --gray-darker: hsl(186, 14%, 43%);
}

@theme inline {
  --color-background: var(--primary);
  --color-background-text: var(--primary-darker);

  --color-surface: var(--color-white);
  --color-surface-text: var(--gray-darker);

  --color-primary: var(--primary);
  --color-primary-darker: var(--primary-darker);
  
  --color-primary-text: var(--gray-light);
  --color-primary-text-dimmed: var(--gray);

  --color-primary-accent: var(--primary);
  --color-primary-accent-text: var(--primary-darker);

  --color-input-background: var(--gray-light);
  --color-input-text: var(--primary-darker);
}